{{ define "body"}}
<div class="category-wrap">
    <h3>Категории</h3>
    <ul>
        {{ range .Menus }}
            {{ if .Select}}
            <li><a href="?id={{.Id}}" class="menu__elem__checked">{{ .Name }}</a></li>
            {{ else }}
            <li><a href="?id={{.Id}}">{{ .Name }}</a></li>
            {{ end }}
        {{ end }}

        <!-- <li><a href="">Категория справочников 1</a></li>
        <li><a href="">Категория справочников 2</a></li>
        <li><a href="">Категория справочников 3</a></li>
        <li><a href="">Категория справочников 4</a></li> -->
    </ul>
</div>

<div class="right__path">
    <h1 class="user-welcome">
        Hello {{ .Username }}!
    </h1>

    <div class="right__path__tables">
        {{ range .Tables }}
        <a href="?tableid={{.Id}}" class="table">
            <div>
                <p>{{ .Name }}</p>
                description
            </div>
        </a>
        {{ end }}
    </div>

    <div class="table_print">
        {{ range .Fields }}
            <table>
                <tr>
                    {{ range .Header }}        
                        <th>
                            {{ . }}
                        </th>
                    {{ end }}
                </tr>
                {{ range .Data}}
                    <tr>
                    {{ range . }}
                        <td>
                            {{ . }}
                        </td>
                    {{ end }}
                    </tr>
                {{ end }}
            </table> 
            <input type="button" value="Печать" onclick="print_doc()" class="btn btn-success">
            <input type="button" value="Тестовая печать условного документа" onclick="print_tabdoc()" class="btn btn-success">
        {{ end }}
    </div>
    
</div>
{{ end }}